/*** GLOBALS ***/

body {
	margin: 0;
	background-color: #111;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
/*	border: 1px solid black;*/
}

button {
	border: none;
	padding: 0;
}

button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #f29787;
	cursor: pointer;
}

p {
	margin: 6px 0;
}

/*** RIBBONS ***/

#topLeftRibbon {
	position: fixed;
	top: -100px;
	left: -170px;
	z-index: 5;
	
	height: 50px;
	width: 500px;
	transform: rotate(-20deg);
	padding: 10px;
	
	color: white;
	background-color: #222;
	font: 35px Zero;
	transition: top 0.2s;
}

#topLeftRibbon:hover {
	color: #f29787;
}

#topRightRibbon {
	position: fixed;
	top: 20px;
	right: -160px;
	z-index: 5;
	
	width: 500px;
	transform: rotate(20deg);
	padding: 10px;
	color: white;
	background-color: #222;
	transition: 0.2s;
}

#topRightRibbon:hover {
	cursor: auto;
}

.ribbonIcon {
	transform: rotate(-20deg);
	margin: 3px;
}

.ribbonIcon:hover {
	color: #f29787;
}

/*** NAV BAR ***/

#headerBar {
	background-color: #111;
	height: 60px;
	width: 100vw;
	z-index: 4;
	top: 0;
	left: 0;
}

.headerButton {
	height: 100%;
	width: auto;
	color: white;
	font: 40px Zero;
	background-color: transparent;
	margin: 0 20px;
}

.headerButton:hover {
	color: #f29787;
}

/*** DIVIDERS ***/

.divider {
	width: 100vw;
	height: 60px;
	font: 40px Zero;
	color: white;
	background-color: #111;
}

.divider.about {
	display: none;
}

.dividerTitle {
	display: none;
}

/*** PHONE / TABLET NAV BAR ***/

#portraitLayout {
	display: none;
	width: 100%;
	justify-content: space-between;
	padding: 0 16px;
}

#menuButton {
	background-color: transparent;
}

#menuButton:hover .menuIconBar {
	background-color: #f29787;
}

.menuIconBar {
	width: 35px;
	height: 5px;
	margin: 6px 0;
	background-color: white;
	transition: 0.5s transform, opacity;
}

.menuIconBar.one.change {
	transform: rotate(-45deg) translate(-9px, 6px);
}

.menuIconBar.two.change {
	opacity: 0;
}

.menuIconBar.three.change {
	transform: rotate(45deg) translate(-8px, -8px);
}

.ribbonIcon.bar {
	transform: none;	
}










/*** SECTIONS ***/

.section {
	flex-direction: column;
	height: calc(100vh - 60px);
	background-color: #f0f5f5;
	padding: 3vw 10px;
}

/*** LANDING ***/

.section.top {
	position: relative;
	overflow: hidden;
	height: 100vh;
	padding: 0;
	justify-content: center;
	
	background-image: url("pics/landing1.png");
	background-size: cover;
	background-position: center bottom;
}

#notHeader {
	position: relative; /* required for Safari */
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
	flex-direction: column;
	z-index: 2;
}

#titleText {
	color: #111;
	font: 30vmin Zero;
	line-height: 17vmin;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
}

#subtitleText {
	color: white;
	font: 10vmin Zero;
	background-color: #111;
	padding: 2vmin 2vmin 1.5vmin 2vmin;
	transform: rotate(5deg);
	text-align: center;
	margin-top: 20px;
}

#landingVideo {
	position: absolute;
	height: calc(100% - 50px);
	bottom: 50px;
	left: 0;
	
	z-index: 1;
	background-color: #f0f5f5;
}





/*** ABOUT ***/

.section.about {
	flex-direction: column;
	flex-wrap: wrap;
	height: auto;
}

#aboutSectionWrap {
	flex-direction: column;
	margin: 10px;
}

#aboutTopWrap {
	flex-wrap: wrap;
}

#portrait {
	min-height: 300px;
	min-width: 300px;
/*	margin: 20px 200px 20px 20px;*/
	margin: 0 20px 0 0;
	
	background-image: url("pics/portrait.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	
	transition: 0.5s;
/*	opacity: 0;*/
	opacity: 1;
}

#introWrap {
	flex-direction: column;
	max-width: 500px;
	margin: 0 0 0 20px;
	
	transition: 0.5s;
/*	opacity: 0;*/
/*	margin-left: 190px;*/
	opacity: 1;
}

#aboutText {
	color: black;
	margin: 10px;
	box-sizing: border-box;
	font: 15px Chivo;
	flex-direction: column;
	margin: 0 0 10px 0;
}

#blogButton {
	height: 30px;
	width: 100%;
	padding: 8px;
	
	font: 30px Zero;
	color: #719698;
	background-color: #e6e6e6;
}

#blogButton:hover {
	background-color: #d6d6d6;
}

/*** BLOG ***/

#blogWrap {
	flex-direction: column;
	max-width: 840px;
	overflow: hidden;

	margin: 0;
	height: 0;
}

.blogPost {
	flex-direction: column;
	margin-top: 20px;
	font: 15px Chivo;
}

.blogPost.top {
	margin: 0;
	border: 0;
}

.blogHeader {
	width: 100%;
	justify-content: space-between;
}

.blogDate {
	width: 100px;
	height: 10px;
	padding: 5px;
	
	font: 14px Chivo;
	color: white;
	background-color: #719698;
}

.blogDivider {
	width: calc(100% - 100px);
	height: 2px;
	background-color: #e6e6e6;
}

.blogPost p {
	margin: 10px 0 0 0;
}










/*** WORK ***/

.section.work {
	height: auto;
}

#videosWrap {
	flex-direction: row;
	flex-wrap: wrap;
	max-width: calc(100vw - 20px);
	transition: 0.2s linear;
}

.videoButton {
	position: relative;
	overflow: hidden;
	
	height: 225px;
	width: 400px;
	margin: 10px;
	
	background-color: black;
		
	transition: 0.5s;
	opacity: 0;
}

.videoButton:hover .videoImage {
	transform: scale(1.05);
}

.videoImage {
	height: 102%;
	width: 102%;
	transition: 0.2s;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.videoTitle {
	position: absolute;
	
	top: 40%;
	width: 100%;
	height: 20%;
	
	color: white;
	font: 40px Zero;
	background-color: rgba(30, 30, 30, 0.75);
	z-index: 1;
}

.videoBox {
	position: absolute;
	top: 0;
	left: -400px;
	
	height: 100%;
	width: 100%;
	border: none;
	background-color: black;
	transition: 1s;
	z-index: 2;
}





/*** REFERENCES ***/

.section.ref {
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	align-items: flex-start;
}

.ref_box {
	flex-direction: column;
	width: 330px;
	padding: 17px 17px 11px 17px;
	margin: 10px 20px;
	font: 15px Chivo;
	justify-content: flex-start;
	background-color: #e6e6e6;
	transition: 0.5s;
	opacity: 0;
}

.nameWrap {
	background-color: #719698;
	transform: rotate(2deg);
	padding: 7px;
	margin: 5px 0 -5px 0;
}

.ref_name {
	font: 25px Chivo;
	transform: rotate(-2deg);
	color: white;
}

.roleWrap {
	background-color: #444;
	padding: 5px;
	z-index: 1;
	transform: rotate(-1deg);
}

.ref_role {
	font: 15px Chivo;
	color: white;
}

.ref_quote {
	flex-direction: column;
	margin: 20px 0 0 0;
	color: black;
}





/*** CONTACT ***/

.section.contact {
	height: auto;
	padding: 10vw 10px;
}

#contactDetails {
	flex-wrap: wrap;
}

.contactInfo {
	color: black;
	font-family: Chivo;
}

.contactInfo.words {
	font-size: 19px;
	margin: 20px 10px;
	background-color: #e6e6e6;
	padding: 10px;
}

.contactInfo.link {
	font-size: 25px;
	z-index: 1;
	margin-left: 12px;
}

.contactInfo.link:hover {
	color: #f29787;
}

.contactBar {
	width: 100%;
	transition: 0.5s;
	height: 5px;
	background-color: #f29787;
	transform: rotate(-1deg) translateY(-7px);
}

.contactGroup {
	margin: 20px;
}

.contactIcon {
	color: #719698;
}

/*** SIGNATURE ***/

.footer {
	color: white;
	font: 15px Chivo;
	justify-content: flex-start;
	height: 60px;
	width: 100vw;
}

#sigWords {
	margin-left: 20px;
}










/*** FONTS ***/

@font-face {
	font-family: Zero;
	src: url("fonts/zerocalcare.ttf");
}

@font-face {
	font-family: Chivo;
	src: url("fonts/Chivo-Regular.ttf");
}

/*** MOBILE MENU ***/

#mobileMenuFull {
	height: calc(100vh - 60px);
	width: 100vw;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 3;
	
	flex-direction: column;
	background-color: #111;

	transition: 0.2s;
	opacity: 0;
	pointer-events: none;
	display: none;
}

.headerButton.mobile {
	font: 8vw Zero;
	margin: 3vw;
	height: 5vh;
}










/*** MOBILE LAYOUT ***/

@media (max-width: 1024px) {
	#topRightRibbon, #topLeftRibbon, #landscapeLayout {
		display: none;
	}
	
	#mobileMenuFull {
		display: flex;
	}
	
	#portraitLayout {
		display: flex;
	}
	
	.ribbonIcon {
		margin: 0 0 0 10px;
	}
	
	#headerBar {
		position: fixed !important;
	}
	
	.divider.about {
		display: flex;
	}
	
	.dividerTitle {
		display: flex;
	}
	
	#portrait {
		opacity: 1;
		margin: 20px 0;
	}
	
	#introWrap {
		margin: 0;
	}
	
	#aboutText {
		opacity: 1;
	}
	
	.videoButton {
		opacity: 1;
	}
	
	.ref_box {
		opacity: 1;
	}
	
	.section.about, .section.work, .section.ref {
		padding: 10px;
	}
	
	#landingVideo {
		display: none;
	}
}

/* Adjust videos when squashed */
@media (max-width: 440px) {
	.videoButton {
		height: calc((100vw - 40px) * 0.5625);
	}
}

@media (max-width: 500px) {
	.ref_box {
		margin: 10px;
	}
}

@media (max-width: 600px) {
	.headerButton.mobile {
		font: 13vw Zero;
		margin: 5vw;
	}
}

/* Adjust landing video so that it always covers screen */
@media (min-aspect-ratio: 1670/887) {
	#landingVideo {
		height: auto;
		width: 100%;
	}
}