/*** GLOBALS ***/

body {
	margin: 0;
	background-color: #111;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
/*	border: 1px solid white;*/
}

button {
	border: none;
	padding: 0;
}

button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: gray;
}

/*** RIBBONS ***/

#topLeftRibbon {
	position: fixed;
	top: -100px;
	left: -170px;
	z-index: 5;
	
	height: 50px;
	width: 500px;
	transform: rotate(-20deg);
	padding: 10px;
	
	color: white;
	background-color: #222;
	font: 35px main;
	transition: top 0.2s;
}

#topLeftRibbon:hover {
	color: gray;
}

#topRightRibbon {
	position: fixed;
	top: 20px;
	right: -160px;
	z-index: 5;
	
	width: 500px;
	transform: rotate(20deg);
	padding: 10px;
	color: white;
	background-color: #222;
	transition: 0.2s;
}

#topRightRibbon:hover {
	cursor: auto;
}

.ribbonIcon {
	transform: rotate(-20deg);
	margin: 3px;
}

.ribbonIcon:hover {
	color: gray;
}

/*** NAV BAR ***/

#headerBar, .divider {
	background-color: #111;
	height: 60px;
	width: 100vw;
	justify-content: center;
	z-index: 4;
	top: 0;
	left: 0;
}

.divider {
	color: white;
	font: 40px main;
}

.divider.about {
	display: none;
}

.dividerTitle {
/*	margin-left: 67px;*/
	display: none;
/*	z-index: 3;*/
}

.headerButton {
	height: 100%;
	width: auto;
	color: white;
	font: 40px main;
	background-color: transparent;
	margin: 0 20px;
/*	border-bottom: 5px solid #111;*/
/*	border-top: 5px solid #111;*/
}

.headerButton:hover {
/*	border-bottom-color: #fc0;*/
	color: gray;
}

/*** PORTRAIT NAV BAR ***/

#portraitLayout {
	display: none;
	width: 100%;
	justify-content: space-between;
	padding: 0 16px;
}

#menuButton {
	background-color: transparent;
}

#menuButton:hover .menuIconBar {
	background-color: gray;
}

.menuIconBar {
	width: 35px;
	height: 5px;
	margin: 6px 0;
	background-color: white;
	transition: 0.5s transform, opacity;
}

.menuIconBar.one.change {
	transform: rotate(-45deg) translate(-9px, 6px);
}

.menuIconBar.two.change {
	opacity: 0;
}

.menuIconBar.three.change {
	transform: rotate(45deg) translate(-8px, -8px);
}

.ribbonIcon.bar {
	transform: none;	
}

/*** SECTIONS ***/

.section {
	flex-direction: column;
	height: calc(100vh - 60px);
}

.section.about, .section.contact, .section.ref {
	background-color: #333;
}

/*** LANDING ***/

.section.top {
	height: 100vh;
	justify-content: center;
	background-color: #fc0;
}

#notHeader {
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
	flex-direction: column;
}

#titleText {
	color: #111;
	font: 30vmin main;
	line-height: 17vmin;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
	transition: 0.2s;
}

#subtitleText {
	color: white;
	font: 10vmin main;
	background-color: #111;
	padding: 2vmin 2vmin 1.5vmin 2vmin;
	transform: rotate(5deg);
	text-align: center;
	margin-top: 20px;
	transition: 0.2s;
}

/*** ABOUT ***/

.section.about {
	flex-direction: row;
	padding: 3vw 20px;
	flex-wrap: wrap;
	height: auto;
}

#portrait {
	min-height: 400px;
	min-width: 300px;
	background-color: #222;
	margin: 20px 200px 20px 20px;
	border: 10px solid #222;
	box-shadow: 10px 10px #111;
	
	background-image: url("pics/bennett.png");
	background-repeat: no-repeat;
	background-position: center;
	
	transition: 0.5s;
	opacity: 0;
}

#aboutText {
	width: 500px;
	margin: 0;
	background-color: #222;
	color: white;
	padding: 20px;
	margin: 20px 20px 30px 200px;
	box-sizing: border-box;
	font: 15px Chivo;
	box-shadow: 10px 10px #111;
	
	transition: 0.5s;
	opacity: 0;
}

/*** WORK ***/

.section.work {
	background-color: #333;
	height: auto;
	padding: 3vw 10px;
	flex-direction: row;
	flex-wrap: wrap;	
}

.videoButton {
	position: relative;
	overflow: hidden;
	
	height: 300px;
	width: 400px;
	margin: 10px;
	border: 5px solid #222;
	box-sizing: border-box;
	
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
	font-size: 40px;
}

.videoButton:hover {
	border-color: white;
}

.videoTitle {
	color: white;
	font-family: main;
	font-size: inherit;
	background-color: rgba(30, 30, 30, 0.75);
	height: 20%;
}

.videoBox {
	position: absolute;
	top: 0;
	left: -390px;
	
	height: 100%;
	width: 100%;
	border: none;
	background-color: black;
	transition: 1s;
}

/*** REFERENCES ***/

.section.ref {
	flex-direction: row;
	flex-wrap: wrap;
	padding: 3vw 20px;
	height: auto;
	align-items: flex-start;
}

.ref_box {
	background-color: #222;
	box-shadow: 10px 10px black;
	flex-direction: column;
	color: white;
	width: 330px;
	padding: 17px;
	margin: 20px;
	font: 15px Chivo;
	justify-content: flex-start;
}

.nameWrap {
	background-color: #fc0;
	transform: rotate(2deg);
	padding: 7px;
	margin: 5px 0 -5px 0;
}

.ref_name {
	font: 25px Chivo;
	transform: rotate(-2deg);
	color: #333;
}

.roleWrap {
	background-color: #444;
	padding: 5px;
	z-index: 1;
	transform: rotate(-1deg);
}

.ref_role {
	font: 15px Chivo;
	color: white;
}

.ref_quote {
	margin: 20px 0 0 0;
	color: white;
}

/*** CONTACT ***/

.section.contact {
	height: auto;
	padding: 3vw 20px;
}

#contactDetails {
	flex-wrap: wrap;
}

.contactInfo {
	color: white;
	font: 25px Chivo;
	background-color: #222;
	padding: 10px;
}

.contactInfo.words {
	font-size: 17px;
	margin: 10px;
}

.contactInfo:hover {
	color: white;
}

.contactInfoWrap {
	flex-direction: column;
	margin: 10px;
}

.contactInfoWrap:hover .contactBar {
	width: 100%;
}

.contactBar {
	width: 0;
	transition: 0.5s;
	height: 5px;
	background-color: #fc0;
	transform: rotate(-1deg) translateY(-7px);
}

/*** FONTS ***/

@font-face {
	font-family: main;
	src: url("fonts/zerocalcare.ttf");
}

@font-face {
	font-family: other;
	src: url("fonts/KGHAPPY_solid.ttf");
}

@font-face {
	font-family: Chivo;
	src: url("fonts/Chivo-Regular.ttf");
}

@font-face {
	font-family: SugarPunch;
	src: url("fonts/sugarpunch.otf");
}

@font-face {
	font-family: Charlatan;
	src: url("fonts/Charlatan.otf");
}

/*** MOBILE MENU ***/

#mobileMenuFull {
	height: calc(100vh - 60px);
	width: 100vw;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 3;
	
	flex-direction: column;
	background-color: #111;

	transition: 0.2s;
	opacity: 0;
	pointer-events: none;
	display: none;
}

.headerButton.mobile {
	font: 10vw main;
	margin: 3vw;
	height: 5vh;
}

/*** MOBILE LAYOUT ***/

@media (max-width: 1024px) {
	#topRightRibbon, #topLeftRibbon, #landscapeLayout {
		display: none;
	}
	
	#mobileMenuFull {
		display: flex;
	}
	
	#portraitLayout {
		display: flex;
	}
	
	.ribbonIcon {
		margin: 0 0 0 10px;
	}
	
	#headerBar {
		position: fixed !important;
	}
	
	#portrait {
		opacity: 1;
		margin: 20px;
	}
	
	#aboutText {
		opacity: 1;
		margin: 20px 20px 30px 20px;
	}
	
	.divider.about {
		display: flex;
	}
	
	.dividerTitle {
		display: flex;
	}
}

/* Adjust videos when squashed */
@media (max-width: 440px) {
	.videoButton {
		height: calc((100vw - 40px) * 0.75);
	}
}