body {
  margin: 0;
  background-color: #FFFFFF; }

div, section {
  display: flex;
  justify-content: center;
  align-items: center; }

button {
  border: none;
  padding: 0; }

button:focus {
  outline: none; }

button:hover {
  cursor: pointer; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: #94F7D7;
  cursor: pointer; }

p {
  margin: 6px 0; }

@font-face {
  font-family: Zero;
  src: url("../fonts/zerocalcare.ttf"); }

@font-face {
  font-family: Chivo;
  src: url("../fonts/Chivo-Regular.ttf"); }
  
@font-face {
    font-family: KG;
    src: url("../fonts/KGHAPPY_solid.ttf"); }
	
@font-face {
      font-family: Nord;
      src: url("../fonts/Nord Regular.otf"); }

/* firefox */
@-moz-document url-prefix() {
  #subtitleText {
    padding: 0.5vmin 2vmin 0 2vmin; }
  .videoImage {
    transform: scale(1.02); }
  .videoButton:hover .videoImage {
    transform: scale(1.08); } }

.section {
  flex-direction: column;
  height: calc(100vh - 60px);
  background-color: #FFFFFF;
  padding: 3vw 10px; }

.divider {
  width: 100vw;
  height: 60px;
  font: 40px Zero;
  color: white;
  background-color: #111; }

.divider.about {
  display: none; }

.dividerTitle {
  display: none; }

#topLeftRibbon {
  position: fixed;
  top: -100px;
  left: -170px;
  z-index: 11;
  height: 50px;
  width: 500px;
  transform: rotate(-20deg);
  padding: 10px;
  color: white;
  background-color: #222;
  font: 35px Zero;
  transition: top 0.2s; }

#topLeftRibbon:hover {
  color: #94F7D7; }

#topRightRibbon {
  position: fixed;
  top: 20px;
  right: -160px;
  z-index: 11;
  width: 500px;
  transform: rotate(20deg);
  padding: 10px;
  color: white;
  background-color: #222;
  transition: 0.2s; }

#topRightRibbon:hover {
  cursor: auto; }

.ribbonIcon {
  transform: rotate(-20deg);
  margin: 3px 5px; }

.ribbonIcon:hover {
  color: #94F7D7; }

#headerBar {
  background-color: #111;
  height: 60px;
  width: 100vw;
  z-index: 10;
  top: 0;
  left: 0; }

.headerButton {
  height: 100%;
  width: auto;
  color: white;
  font: 40px Zero;
  background-color: transparent;
  margin: 0 20px; }

.headerButton:hover {
  color: #94F7D7; }

.footer {
  color: white;
  font: 15px Chivo;
  justify-content: flex-start;
  height: 60px;
  width: 100vw; }

#sigWords {
  margin-left: 20px; }

.section.top {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  justify-content: center;
  background-image: url("../pics/landing2.png");
  background-size: cover;
  background-position: center bottom; }

#notHeader {
  position: relative;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  z-index: 2; }

#titleText {
  color: #111111;
  font: 10vmin KG;
  line-height: 17vmin;
  padding: 50px;
  text-align: center;
  margin-bottom: 20px; }

#subtitleText {
  color: black;
  font: 8vmin Zero;
  background-color: #94F7D7;
  padding: 2vmin 2vmin 1.5vmin 2vmin;
  transform: rotate(5deg);
  text-align: center;
  margin-top: 20px; }

#landingVideo {
  position: absolute;
  height: calc(100% - 50px);
  bottom: 50px;
  left: 0;
  z-index: 1;
  background-color: #ffffff; }

.section.about {
  flex-direction: column;
  flex-wrap: wrap;
  height: auto; }

#aboutSectionWrap {
  flex-direction: column;
  margin: 10px;
  transition: 0.5s;
  opacity: 0; }

#aboutTopWrap {
  flex-wrap: wrap; }

#portrait {
  min-height: 500px;
  min-width: 500px;
  margin: 0 20px 0 0;
  background-image: url("../pics/JACKLOGO_V3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

#introWrap {
  flex-direction: column;
  max-width: 400px;
  margin: 0 0 0 20px; }

#aboutText {
  color: black;
  max-width: 100%;
  margin: 10px;
  box-sizing: border-box;
  font: 15px Chivo;
  margin: 0 0 10px 0; }

#aboutText p {
  max-width: 400px;
  /* has to be px and not % for IE */ }

.section.work {
  height: auto; }

#videosWrap {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc(100vw - 20px);
  transition: 0.2s linear; }

.videoButton {
  position: relative;
  overflow: hidden;
  height: 225px;
  width: 400px;
  margin: 10px;
  background-color: black;
  transition: 0.5s;
  opacity: 0; }

.videoButton:hover {
  cursor: pointer; }

.videoButton:hover .videoImage {
  transform: scale(1.025); }

.videoButton.showreel {
  height: 300px;
  width: 533px;
  max-width: calc(100vw - 40px); }

.videoImage {
  height: 100%;
  width: 100%;
  transition: 0.2s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.videoBox {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  border: none;
  background-color: black;
  transition: 0.4s;
  z-index: 4; }

#videoChoiceBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.2s;
  opacity: 0; }

.videoChoiceButton {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font: 40px Zero;
  color: black;
  background-color: #f0f5f5;
  pointer-events: none; }

.videoChoiceButton:hover {
  background-color: #d1e0e0; }

.awards-wrap {
  justify-content: flex-start;
  width: 100vw;
  height: auto;
  background-color: #e6e6e6;
  box-sizing: border-box; }

.awards-title {
  font: 45px Zero;
  color: #719698;
  margin: 20px 0; }

.laurel-wrap {
  display: block;
  text-align: center; }

.laurel {
  height: 150px;
  margin: 0 15px 20px 15px; }

.section.ref {
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  align-items: flex-start; }

.ref_box {
  flex-direction: column;
  max-width: 330px;
  padding: 17px 17px 11px 17px;
  margin: 10px 20px;
  font: 15px Chivo;
  justify-content: flex-start;
  background-color: #e6e6e6;
  transition: 0.5s;
  opacity: 0; }

.nameWrap {
  background-color: #719698;
  transform: rotate(2deg);
  padding: 7px;
  margin: 5px 0 -5px 0; }

.ref_name {
  font: 25px Chivo;
  transform: rotate(-2deg);
  color: white; }

.roleWrap {
  background-color: #444;
  padding: 5px;
  z-index: 1;
  transform: rotate(-1deg); }

.ref_role {
  font: 15px Chivo;
  color: white; }

.ref_quote {
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0 0 0;
  color: black;
  max-width: 100%; }

.ref_quote p {
  max-width: 330px;
  /* has to be px and not % for IE */ }

.section.contact {
  height: auto;
  padding: 10vw 10px; }

#contactDetails {
  flex-wrap: wrap;
  max-width: 660px; }

.contactInfo {
  color: black;
  font-family: Chivo; }

.contactInfo.words {
  font-size: 19px;
  margin: 20px 10px;
  background-color: #e6e6e6;
  padding: 10px; }

.contactInfo.link {
  font-size: 25px;
  z-index: 1;
  margin-left: 12px; }

.contactInfo.link:hover {
  color: #f29787; }

.contactGroup {
  margin: 20px; }

.contactIcon {
  color: #111111; }

#blogButton {
  height: 30px;
  width: 100%;
  padding-top: 2px;
  font: 30px Zero;
  color: #719698;
  background-color: #e6e6e6; }

#blogButton:hover {
  background-color: #d6d6d6; }

#blogWrap {
  flex-direction: column;
  max-width: 740px;
  overflow: hidden;
  margin: 0;
  height: 0; }

.blogPost {
  flex-direction: column;
  margin-top: 20px;
  font: 15px Chivo;
  width: 100%; }

.blogPost.top {
  margin: 0;
  border: 0; }

.blogHeader {
  width: 100%;
  justify-content: space-between; }

.blogDate {
  width: 100px;
  height: 10px;
  padding: 5px;
  font: 14px Chivo;
  color: white;
  background-color: #719698; }

.blogDivider {
  width: calc(100% - 100px);
  height: 2px;
  background-color: #e6e6e6; }

.blogPost p {
  margin: 10px 0 0 0;
  width: 100%; }

#drawingsWrap {
  flex-direction: column;
  margin: 3vw 10px 10px 10px; }

#galleryTitle {
  font: 40px Zero;
  color: #719698;
  margin-bottom: 20px; }

#sketchWrap {
  height: 300px;
  width: 600px;
  max-width: calc(100vw - 40px);
  overflow: hidden;
  background-color: #e6e6e6;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

#imageGalleryWrap {
  position: relative; }

.galleryButton {
  height: 50px;
  width: 50px;
  margin: 10px;
  color: #719698;
  background-color: #e6e6e6;
  z-index: 1;
  border-radius: 5px; }

.galleryButton:hover {
  background-color: #d6d6d6; }

.innerGalleryButton {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #e6e6e6;
  color: #719698;
  bottom: 0;
  display: none !important;
  border-top: 5px solid #f0f5f5; }

.innerGalleryButton:hover {
  background-color: #c6c6c6; }

.innerGalleryButton.left {
  left: 0;
  border-right: 5px solid #f0f5f5; }

.innerGalleryButton.right {
  right: 0;
  border-left: 5px solid #f0f5f5; }

#portraitLayout {
  display: none;
  width: 100%;
  justify-content: space-between;
  padding: 0 16px; }

#menuButton {
  background-color: transparent; }

#menuButton:hover .menuIconBar {
  background-color: #f29787; }

.menuIconBar {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: white;
  transition: 0.5s transform, opacity; }

.menuIconBar.one.change {
  transform: rotate(-45deg) translate(-9px, 6px); }

.menuIconBar.two.change {
  opacity: 0; }

.menuIconBar.three.change {
  transform: rotate(45deg) translate(-8px, -8px); }

.ribbonIcon.bar {
  transform: none; }

#mobileMenuFull {
  height: calc(100vh - 60px);
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  flex-direction: column;
  background-color: #111;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;
  display: none; }

.headerButton.mobile {
  font: 8vw Zero;
  margin: 3vw;
  height: 5vh; }

/*** MOBILE & TABLET LAYOUT ***/
@media (max-width: 1024px) {
  /* deactivate */
  #topRightRibbon, #topLeftRibbon, #landscapeLayout {
    display: none; }
  /* activate */
  #mobileMenuFull, #portraitLayout, .divider.about, .dividerTitle {
    display: flex; }
  .ribbonIcon {
    margin: 0 0 0 10px; }
  #headerBar {
    position: fixed !important; }
  #portrait {
    opacity: 1;
    margin: 20px 0; }
  #introWrap {
    margin: 0; }
  /* set default opacity */
  #aboutText, .videoButton, .ref_box, #aboutSectionWrap {
    opacity: 1; }
  .section.about, .section.work, .section.ref {
    padding: 10px; }
  #landingVideo {
    display: none; }
  .galleryButton {
    display: none !important; }
  .innerGalleryButton {
    display: inline !important; }
  #galleryTitle {
    margin: 10px 0; } }

/* maintain video aspect ratio when squashed */
@media (max-width: 440px) {
  .videoButton, .videoButton.showreel {
    height: calc((100vw - 40px) * 0.5625); } }

/* square box margins off below certain width */
@media (max-width: 500px) {
  .ref_box, #drawingsWrap {
    margin: 10px; } }

/* adjust mobile menu font size below certain width */
@media (max-width: 600px) {
  .headerButton.mobile {
    font: 13vw Zero;
    margin: 5vw; } }

/* Adjust landing video so that it always covers screen */
@media (min-aspect-ratio: 1670 / 887) {
  #landingVideo {
    height: auto;
    width: 100%; } }
