#blogButton {
	height: 30px;
	width: 100%;
	padding-top: 2px;

	font: 30px Zero;
	color: #719698;
	background-color: #e6e6e6;
}

#blogButton:hover {
	background-color: #d6d6d6;
}

#blogWrap {
	flex-direction: column;
	max-width: 740px;
	overflow: hidden;
	margin: 0;
	height: 0;
}

.blogPost {
	flex-direction: column;
	margin-top: 20px;
	font: 15px Chivo;
	width: 100%;
}

.blogPost.top {
	margin: 0;
	border: 0;
}

.blogHeader {
	width: 100%;
	justify-content: space-between;
}

.blogDate {
	width: 100px;
	height: 10px;
	padding: 5px;
	font: 14px Chivo;
	color: white;
	background-color: #719698;
}

.blogDivider {
	width: calc(100% - 100px);
	height: 2px;
	background-color: #e6e6e6;
}

.blogPost p {
	margin: 10px 0 0 0;
	width: 100%;
}
