.awards-wrap {
	justify-content: flex-start;
	width: 100vw;
	height: 150px;
	background-color: #e6e6e6;
	padding: 20px 5px;
	box-sizing: border-box;
	overflow: scroll;
}

.laurel {
	height: 100%;
	margin: 0 15px;
}
