@font-face {
	font-family: Zero;
	src: url("../fonts/zerocalcare.ttf");
}

@font-face {
	font-family: Chivo;
	src: url("../fonts/Chivo-Regular.ttf");
}

@font-face {
	font-family: KG;
	src: url("../fonts/KGHAPPY_solid.ttf");
}