body {
	margin: 0;
	background-color: #111;
}

div, section {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	border: none;
	padding: 0;
}

button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #f29787;
	cursor: pointer;
}

p {
	margin: 6px 0;
}
