.section.top {
	position: relative;
	overflow: hidden;
	height: 100vh;
	padding: 0;
	justify-content: center;
	background-image: url("../pics/landing2.png");
	background-size: cover;
	background-position: center bottom;
}

#notHeader {
	position: relative;
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
	flex-direction: column;
	z-index: 2;
}

#titleText {
	color: #111111;
	font: 30vmin KG;
	line-height: 17vmin;
	padding: 40px;
	text-align: center;
	margin-bottom: 20px;
}

#subtitleText {
	color: white;
	font: 10vmin Zero;
	background-color: #94F7D7;
	padding: 2vmin 2vmin 1.5vmin 2vmin;
	transform: rotate(5deg);
	text-align: center;
	margin-top: 20px;
}

#landingVideo {
	position: absolute;
	height: calc(100% - 50px);
	bottom: 50px;
	left: 0;
	z-index: 1;
	background-color: #FFFFFF;
}
